@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-neopink: #ff90e8;
  --color-neomagenta: #ff2a85;
  --color-neopurple: #b24bf3;
  --color-neoviolet: #712ef2;
  --color-neopink-dark: #630551;
  --color-neomagenta-dark: #361f58;
  --color-neopurple-dark: #3b0066;
  --color-neoviolet-dark: #270066;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: 'Darker Grotesque', system-ui, -apple-system, sans-serif;
  background-color: var(--color-neoviolet);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.dark body {
  background-color: var(--color-neoviolet-dark);
}

body.working {
  background-color: var(--color-neomagenta);
}

.dark body.working {
  background-color: var(--color-neomagenta-dark);
}

body.resting {
  background-color: var(--color-neopink);
}

.dark body.resting {
  background-color: var(--color-neopink-dark);
}