.timer {
    font-family: 'Nabla';
    font-size: 15rem;
    font-palette: --altone;
    font-variant-numeric: tabular-nums;

}

@font-palette-values --altone {
    font-family: "Nabla";
    override-colors:
        0 #000000,
        1 #ae94f5,
        2 #cf9ef0,
        3 #d197f7,
        4 #ffffff,
        5 #8474d2,
        6 #9ce4f2,
        7 #8988e2,
        8 #a5ade9,
        9 #ffffff;
}

.controls {
    display: flex;
    justify-content: space-around;
}

.details {
    margin: 2rem;
    font-weight: bold;
    color: #18141473;
}

.details p {
    padding: 1rem;
    font-weight: 400;
    font-size: 1.3rem;
}

.hidden {
    display: none;
}


.working .timer {
    font-palette: --working;
}

@font-palette-values --working {
    font-family: "Nabla";
    override-colors: 0 #90bed0, 1 #9d97c8, 2 #878992, 3 #9197b1, 4 #ccf1ff, 5 #73c9c9, 6 #d3eaf3, 7 #90effe, 8 #a2ddf1, 9 #fdf7f7;
}

.working button {
    background: linear-gradient(196.6deg, #6bb6c5 30%, #61a5c2 100%)
}